@model TasskTracking.Models.Task_Tracking

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Task_Tracking</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.task_Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.task_Title)
                @Html.ValidationMessageFor(model => model.task_Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Task_Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Task_Description)
                @Html.ValidationMessageFor(model => model.Task_Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Assingee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Assingee)
                @Html.ValidationMessageFor(model => model.Assingee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.due_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.due_date)
                @Html.ValidationMessageFor(model => model.due_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.priority, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("priority")
                @Html.ValidationMessageFor(model => model.priority)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.statue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("statue")
                @Html.ValidationMessageFor(model => model.statue)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
